body {
  font-family: "Jost", sans-serif;
  background-color: #f3f3f3;
}
p::selection {
  background-color: blue;
  color: white;
}
header {
  margin: 0 auto;
  max-width: 1600px;
  background-color: white;
  padding: 1.4em 2.6em;
}
header a {
  color: black;
  font-size: 1.15rem;
  font-weight: 500;
  cursor: pointer;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav a:hover {
  cursor: pointer;
}
header nav a svg {
  width: 3em;
  height: 1.5em;
  margin-right: 2.4em;
}
header nav .nav_left {
  display: flex;
  align-items: center;
}
.nav_left .nav_menu {
  font-size: 1.2em;
  display: none;
}
.dropdown_svg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_left .dropdown_svg svg {
  width: 13px;
  height: 100%;
  margin-left: 0.5rem;
  position: relative;
  bottom: -1px;
  display: none;
}
header nav .left_list {
  display: flex;
  align-items: center;
  gap: 2.5em;
}
.orange_color {
  color: #ff764d;
}
header nav .right_list {
  display: flex;
  align-items: center;
  gap: 2.5em;
}
header nav .right_list .try_live_btn {
  color: blue;
}
header nav .right_list .register_btn {
  font-size: 1rem;
}
.menu {
  margin: 0 auto;
  max-width: 1600px;
  background-color: white;
  margin-top: 0.2em;
  padding: 1.4em 2.6em;
}
.menu ul {
  display: flex;
  gap: 2.5em;
}
.menu ul li a {
  color: black;
  font-size: 0.9rem;
}
.menu ul li .orange_color {
  color: #ff764d;
}
.first_section {
  margin: 0 auto;
  max-width: 1600px;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
}
.bg_img {
  height: 86vh;
  width: 84%;
  background-image: url(https://ableton-production.imgix.net/about/header.jpg?fit=crop&auto=format&fm=jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-color: white;
}

/* .first_section img {
  width: 84%;
  height: 86vh;
  object-fit: cover;
} */

.first_section svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p_section {
  margin: 0 auto;
  max-width: 1600px;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p_section a {
  color: blue;
}
.p_section p {
  width: 50%;
}
.p_section .first_p {
  font-size: 1.75rem;
  line-height: 1.4;
  margin-bottom: 1.3rem;
}
.p_section .second_p {
  font-size: 1.16rem;
  font-weight: 300;
  line-height: 1.5;
}
.second_section {
  position: relative;
  background-color: white;
  margin: 0 auto;
  max-width: 1600px;
  height: 96vh;
}
.second_section_right_yellow {
  position: absolute;
  background-color: #fbffa7;
  width: 60%;

  top: 0;
  bottom: 0;
  right: 0;
}
.second_section_flex_container img {
  width: 40%;
}
.second_section_flex_container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 50%;
  bottom: 50%;
}
.youtube_video_section {
  display: flex;
  justify-content: center;
  background-color: white;
  margin: 0 auto;
  max-width: 1600px;
}
.youtube_video_section_container {
  width: 50%;
}
.video_container {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}
.video_container iframe {
  position: absolute;
}
.youtube_video_section_container p {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  font-size: 0.8em;
}
.third_section {
  position: relative;
  background-color: white;
  margin: 0 auto;
  max-width: 1600px;
  height: 1200px;
}
.third_section_left_green {
  position: absolute;
  background-color: #b6ffc0;
  width: 933px;
  top: 0;
  bottom: 0;
  left: 0;
}
.third_section_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.third_section_left {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  flex-direction: column;
  height: 100%;
  flex: 1;
}
.third_section_left img {
  width: 533px;
}
.third_section_right {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 100%;
  flex: 1;
}
.third_section_right img {
  width: 84%;
}
.fourth_section {
  background-color: white;
  margin: 0 auto;
  max-width: 1600px;
  position: relative;
}

.fourth_section img {
  width: 83%;
  display: block;
  margin: 0 auto;
  max-width: 1600px;
}
.fifth_section {
  background-color: white;
  margin: 0 auto;
  max-width: 1600px;
  height: 97vh;
  position: relative;
}
.fifth_section_center_purple {
  background-color: #d5b3ff;
  height: 100%;
  width: 933px;
  margin: 0 auto;
  max-width: 1600px;
}
.fifth_section_img_container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  top: 0;
  width: 100%;
  height: 100%;
}
.fifth_section_left_container {
  flex: 1;
}
.fifth_section_left_container img {
  width: 55%;
  margin-left: 8.5rem;
}
.fifth_section_right_container {
  width: 40%;
}

.fifth_section_right_container img {
  width: 100%;
}
.sixth_section {
  background-color: white;
  margin: 0 auto;
  max-width: 1600px;
  margin-bottom: 0.2em;
  padding-bottom: 133px;
}
.sixth_section_container {
  display: flex;
  margin: 0 auto;
  max-width: 1600px;
  width: 83%;
}

.sixth_section_first_image {
  width: 50%;
  object-fit: cover;
}
.sixth_section_second_image {
  display: none;
}

.sixth_section_container_right {
  background-color: #b1c5ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.sixth_section_container_right p,
.sixth_section_container_right a {
  width: 60%;
}
.sixth_section_container_right p {
  font-size: 1.7em;
  line-height: 1.5;
  font-weight: 500;
}
.sixth_section_container_right a {
  margin-top: 1.8rem;
  color: blue;
  font-size: 1.6em;
}

footer {
  margin: 0 auto;
  max-width: 1600px;
  background-color: white;
}
footer a {
  color: black;

  font-weight: 300;
  line-height: 1.5;
}
.footer_container {
  padding: 8rem;
  margin-bottom: 1.5rem;
}
footer svg {
  width: 40px;
}
footer .facebook svg {
  background-color: #3477f2;
}
footer .twitter svg {
  background-color: #1da1f2;
}
footer .youtube svg {
  background-color: #ff001d;
}
footer .instagram svg {
  background-color: #f77737;
}
.footer_title {
  font-size: 3.7em;
  margin-bottom: 5.3rem;
}
.footer_grid {
  display: grid;
  grid-template-columns: 30% 30% auto;
}
.footer_grid .grid_border {
  margin-bottom: 5.3rem;
}
.footer_grid_bold_text {
  font-size: 1.25rem;
  line-height: 1.4;
}
.footer_grid .one ul:first-child {
  margin-bottom: 0.8rem;
}
.footer_grid a {
  font-size: 1.25rem;
}
.footer_grid .arrow::after {
  content: "\00a0›";
}
.footer_grid .three p:first-child {
  font-size: 1.25rem;
  line-height: 1.4;
}
.footer_grid .three p:nth-child(2) {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 300;
}
.form_flex {
  display: flex;
  align-content: center;
  margin-top: 1rem;
}
.footer_grid .three input[type="email"] {
  flex: 1;
  display: inline-block;
  font-size: 1em;
  background-color: #eee;
  border: none;
  padding: 0.75rem;
}
.footer_grid .three input::placeholder {
  color: rgb(167, 165, 165);
}
.footer_grid .three input[type="submit"] {
  width: 25%;
  color: white;
  display: inline-block;
  font-size: 1em;
  background-color: blue;
  border: none;
}
.select_flex {
  display: flex;
}
.footer_grid .five select {
  border: none;
  padding: 0.4rem;
  background-color: #eee;
  width: 100%;
  appearance: none;
  border-radius: 3px;
  font-size: 0.8rem;
}

.footer_grid .five .select_left {
  width: 32%;
  margin-right: 0.2rem;
  position: relative;
}
.footer_grid .five .select_right {
  width: 50%;
  position: relative;
}
.footer_grid .select_flex svg {
  position: absolute;
  top: 0;
  right: 4px;
  width: 0.9rem;
  height: 100%;
  margin: 0;
  padding: 0;

  pointer-events: none;
}
.footer_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_flex_left {
  gap: 1rem;
  display: flex;
  align-items: center;
}
.footer_flex a,
.footer_flex span {
  font-size: 0.8rem;
  font-weight: normal;
}
.footer_flex_right {
  display: flex;
  align-items: center;
  gap: 1rem;
}
